.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance__tipo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.transacciones{
    display: flex;
    justify-content: space-between;

}

.transacciones fieldset{
    width: 50%;
}

.transaccion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaccion > h3,
.transaccion > p
.transaccion > h4{
    flex: 0 0 calc(25% - 3vw);
}